.container {
  display:flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  flex: 15%;
  background-color: #000000;
}

.menu {
  flex: 5%;
  background-color: #111111;
}

.content {
  flex: 70%;
  background-color: #222222;
}

.content iframe {
  flex: 1;
  border: 5px;
  width:100%;
  height: 100%;
}
.footer {
  flex: 10%;
  bacground-color: #333333;
}


.tieude {
  color: tomato;
  font-weight: bold;
  font-size:30px;
}

.noidung{
  color: white;
  font-style: normal;
  font-size:18px;
}


.tieude1 {
  text-align: center;
  font-size:30px;
  font-weight: bold;
  color: red;
}

.noidung1 {
  color: black;
  font-style: normal;
  font-size:18px;
  font-weight: normal;
}

.img {
  width: 150px;
  height: auto;
  display: block;  
  margin: 0 auto;  
}

